@model MVCBoilerplate.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="span6">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
            @Html.Partial("_SetPasswordPartial")
        }
    </div>

    <section id="externalLogins" class="span6">
        @Html.Action("RemoveExternalLogins")

        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl, Legend = "Add an external login" })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
